<%= form_for :user, url: user_create_path do |f| %>
  <p>
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>